html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
}

.patternCases {
    width: 200px;
    margin: auto auto 2em;
}

form input, form p {
    margin-bottom: 1em;
}

form input[type="number"] {
    width: 90%;

    padding: 5px 10px;

    color: white;
    background: linear-gradient(#4d0066, #2d003b);

    border: 1px solid white;
    border-radius: 5px;
}

form input[type="number"], form p {
    display: block;
}

.buttons {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;

    justify-content: space-between;
}

form input[type="button"] {
    display: inline-block;

    width: 35px;
    height: 35px;

    text-align: center;

    color: white;

    background: linear-gradient(#4d0066, #2d003b);

    border: 1px solid white;
    border-radius: 5px;
}

form input[type="button"]:hover {
    background: linear-gradient(#370049, #1e0027);

    cursor: pointer;
}

form input[type="button"]:active {
    background: linear-gradient(#260033, #000000);
}

form input[type="text"] {
    grid-column-start: 2;
    grid-column-end: 5;

    text-align: center;

    background: linear-gradient(#4d0066, #2d003b);
    color: white;

    border: 1px solid white;
    border-radius: 5px;

    width: 135px;
    
    border: 1;
}

form input[type="text"]:focus {
    outline: 0;
}

.backToIndex {
    margin: 0;
}