body {
    background-repeat: no-repeat;
}

.calculator {
    width: 200px;
    margin: auto auto;
}

form input, form p {
    margin-bottom: 1em;
}

form input[type="number"] {
    width: 90%;

    padding: 5px 10px;

    color: white;
    background: linear-gradient(#4d0066, #2d003b);

    border: 1px solid white;
    border-radius: 5px;
}

form input[type="number"], form p {
    display: block;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;

    justify-content: space-between;
}

form input[type="button"] {
    display: inline-block;

    width: 35px;
    height: 35px;

    text-align: center;

    color: white;

    background: linear-gradient(#4d0066, #2d003b);

    border: 1px solid white;
    border-radius: 5px;
}

form input[type="button"]:hover {
    background: linear-gradient(#370049, #1e0027);

    cursor: pointer;
}

form input[type="button"]:active {
    background: linear-gradient(#260033, #000000);
}