#profilePhoto {
    height: 200px;
    display: inline-block;

    border-radius: 20px;
}

.info {
    display: inline-block;
    vertical-align: top;

    margin-left: 30px;
}

.info ul {
    margin-top: 2em;
}

.info li {
    line-height: 1.5;
}

.patternCases ul {
    list-style: circle;
    margin: 1em 0 0 2em;
}